<!DOCTYPE html>
<html x-data="{colorMode: localStorage.getItem('colorMode') || localStorage.setItem('colorMode', 'light')}"
      x-init="$watch('colorMode', val => localStorage.setItem('colorMode', val))"
      x-bind:class="{'dark': colorMode === 'dark' || (colorMode === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches)}"
      class="scroll-smooth">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home - express-firebase</title>
    <meta name="description" content=""/>
    <link rel="icon" type="image/x-icon"
          href="https://ik.imagekit.io/n0uvizrukm2/websites/chai-cloud/Vector__2__H9Chm1ngK.svg">
    <meta property="og:title" content="home - express-firebase"/>
    <meta property="og:image" content=""/>

    <link id="heading-font" rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700;800;900&display=swap"
          media="all"/>
    <link rel="stylesheet" href="./stylesheets/home.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>


</head>

<body x-data="{'openDialogId': ''}" x-on:keydown.escape="openDialogId=''" onpageshow="inputValidation()"
      class="font-body antialiased text-[#41454c] bg-[#FFFFFF] dark:text-[#b3c3d9] dark:bg-[#000000]">

<script>
    async function inputValidation() {
        let buttonList = document.getElementsByTagName('button');

        let name = document.getElementById('name-input').value;
        let region = document.getElementById('region-input').value;
        let quantity = Number(document.getElementById('quantity-input').value);
        if(name === "" || region === "" || quantity < 1 || isNaN(quantity) || quantity === 0){
            for (let buttonListElement of buttonList) {
                buttonListElement.disabled = true;
            }
            return false;
        }

        let itemAvailableQuantity = {{itemAvailableQuantity}};
        let itemBorrowedQuantity = {{itemBorrowedQuantity}};

        {{#if isPPE}}
            document.getElementById('releaseButton').disabled = quantity > itemAvailableQuantity

        {{else}}
            document.getElementById('borrowButton').disabled = quantity > itemAvailableQuantity
            document.getElementById('returnButton').disabled = quantity > itemBorrowedQuantity

        {{/if}}
    }
</script>

<div class="px-4 py-16 sm:px-6 lg:px-8">
    <div class="max-w-lg mx-auto sm:max-w-md">
        <form class="p-8 mt-6 mb-0 space-y-4 rounded-lg shadow-2xl dark:shadow-slate-800">
            <p class="text-lg font-medium">Item:</p>
            <p class="text-lg font-medium text-center">{{item}}</p>
            <form class="flex flex-col gap-y-3">
                <input type="hidden" name="item" value="{{item}}">
                <input type="hidden" name="foundItemIndex" value="{{foundItemIndex}}">
                <input type="hidden" name="itemAvailableQuantity" value="{{itemAvailableQuantity}}">
                <input type="hidden" name="itemBorrowedQuantity" value="{{itemBorrowedQuantity}}">
                <input type="hidden" name="itemList" value="{{itemList}}">

                <div class=""><label class="text-sm font-medium">
                    <p class="">Region:</p>
                </label>
                    <div class="relative mt-1"><label class="">
                        <input class="w-full p-3 pr-12 text-sm shadow-sm border border-gray-200 rounded-global dark:bg-slate-900 dark:border-gray-700"
                               name="region" placeholder="" id="region-input" oninput="inputValidation()"/></label></div>
                </div>

                <div class=""><label class="text-sm font-medium">
                    <p class="">Name:</p>
                </label>
                    <div class="relative mt-1"><label class="">
                        <input class="w-full p-3 pr-12 text-sm shadow-sm border border-gray-200 rounded-global dark:bg-slate-900 dark:border-gray-700"
                               name="name" placeholder="" id="name-input" oninput="inputValidation()"/></label></div>
                </div>
                <div {{#if quantityValue}} hidden {{/if}} class=""><label class="text-sm font-medium">
                    <p class="">Quantity:</p>
                </label>
                    <div class="relative mt-1"><label class="">
                        <input class="w-full p-3 pr-12 text-sm shadow-sm border border-gray-200 rounded-global dark:bg-slate-900 dark:border-gray-700"
                               name="quantity" placeholder="" id="quantity-input" oninput="inputValidation()"
                               value="{{quantityValue}}"
                        /></label></div>
                </div>
                {{#if isPPE}}
                    <div class="flex justify-evenly gap-[5px]">
                        <button id="releaseButton" formaction="/release" formmethod="post"
                                class="block px-5 py-3 text-sm font-medium text-white bg-primary-500 rounded-global hover:bg-primary-700 disabled:bg-gray-500 mb-3 w-full">
                            Release
                        </button>
                    </div>
                {{else}}
                    <div class="flex justify-evenly gap-[5px]">
                        <button disabled formaction="/borrow" id="borrowButton" formmethod="post"
                                class="block px-5 py-3 text-sm font-medium text-white bg-primary-500 rounded-global hover:bg-primary-700 disabled:bg-gray-500 w-[45%] mb-3">
                            Borrow
                        </button>
                        <button disabled formaction="/return"  id="returnButton" formmethod="post"
                                class="block px-5 py-3 text-sm font-medium text-white bg-primary-500 rounded-global hover:bg-primary-700 disabled:bg-gray-500 w-[45%] mb-3">
                            Return
                        </button>
                    </div>
                {{/if}}


            </form>
        </form>
    </div>
</div>
<!-- AlpineJS Library -->
<script defer src="https://unpkg.com/alpinejs@3.9.0/dist/cdn.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        offset: 50,
        duration: 800
    });
</script>


</body>

</html>